<div class="row">
	<div class="large-8 columns">
		<h1>StaticPages#home</h1>
		<p>Find me in app/views/static_pages/home.html.erb</p>
		<p> TESTING CHOWN -R <br />
			HomePages pgmdmjm:users testuser1 to update <br />
			10_15_14  3:52 modificatin <br />
			CAN PG MODIFY TESTUSERS STUFF <br />
			HOPEFULLY NOW UPDATE WILL WORK <br />
			TESTUSER1 MODIFIED AGAIN <br />
			TestUser1 created and NOW MODIFIES	<br />
			FIRST testUser1 just "railsdev" group <br />
			ADDED 10_13_14 AROUND 4:10PM <br />
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet tempor turpis, vitae sodales velit. In ac urna erat. Aenean non malesuada libero. Maecenas bibendum arcu non orci mattis pellentesque. Vivamus et neque id elit adipiscing accumsan nec eget nulla. Sed eget eros nec nibh egestas hendrerit. Proin faucibus vestibulum mauris id porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi ullamcorper luctus adipiscing. Maecenas sit amet fringilla urna. Morbi at molestie massa.
		</p>
	</div>
	<div class="large-4 columns">
		<h3 class="subheader">Supplementary Information</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet tempor turpis, vitae sodales velit. In ac urna erat. Aenean non malesuada libero. Maecenas bibendum arcu non orci mattis pellentesque. Vivamus et neque id elit adipiscing accumsan nec eget nulla. Sed eget eros nec nibh egestas hendrerit. Proin faucibus vestibulum mauris id porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi ullamcorper luctus adipiscing. Maecenas sit amet fringilla urna. Morbi at molestie massa.
		</p>
	</div>
</div>