<div class="row">
	<div class="large-8 columns">
		<h1>StaticPages#home</h1>
		<p>Find me in app/views/static_pages/home.html.erb</p>
		<p> AFTER FINAL CHMOD CHOWN<br />
			THIS IS FROM THE SECRET FILE <%= @secret %><br />
		 	TESTING LOG IMPROVEMENTS WITH DELETIONS<br />
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet tempor turpis, vitae sodales velit. In ac urna erat. Aenean non malesuada libero. Maecenas bibendum arcu non orci mattis pellentesque. Vivamus et neque id elit adipiscing accumsan nec eget nulla. Sed eget eros nec nibh egestas hendrerit. Proin faucibus vestibulum mauris id porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi ullamcorper luctus adipiscing. Maecenas sit amet fringilla urna. Morbi at molestie massa.
		</p>
	</div>
	<div class="large-4 columns">
		<h3 class="subheader">Supplementary Information</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet tempor turpis, vitae sodales velit. In ac urna erat. Aenean non malesuada libero. Maecenas bibendum arcu non orci mattis pellentesque. Vivamus et neque id elit adipiscing accumsan nec eget nulla. Sed eget eros nec nibh egestas hendrerit. Proin faucibus vestibulum mauris id porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi ullamcorper luctus adipiscing. Maecenas sit amet fringilla urna. Morbi at molestie massa.
		</p>
	</div>
</div>